---
---

@import "{{ site.theme }}";


.center {
  text-align: center;
}

.logo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

a.button {
  background-color: #4b4b4b;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
